body {
  background-image: url(../images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-attachment: fixed;
  background-color: var(--Light-pink);
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#content {
  display: grid;
  grid-gap: 10px;
  width: 320px;
  background-color: var(--White);
  border-radius: 8px;
  padding: 25px 31px;
  box-shadow: 0px 0px 30px var(--Grayish-purple);
}

.header-content {
  display: grid;
  grid-gap: 30px;
  width: 150px;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.icon-star {
  width: 25px;
}

.header-content h1 {
  font: var(--text-lg);
  justify-self: start;
}

.question {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  font: var(--text-md);
  cursor: pointer;
  transition: width .2s, height .2s;
  transition-timing-function: ease;
}

.question:hover {
  color: var(--Active-State-purple);
}

.question p {
  padding-block: 15px;
}

.icon {
  width: 30px;
  justify-self: end;
}

.answer {
  opacity: .4;
  font: var(--text-sm);
  display: none;
}

hr {
  margin-top: 15px;
  border: 0;
  height: 2px;
  background-color: var(--Light-pink);
}

.attribution {
  font-size: 1.2em;
  align-self: start;
  text-align: center;
}

.attribution a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--Footer);
  text-decoration: underline;
}

@media screen and (width > 612px) {
  body {
    background-image: url(../images/background-pattern-desktop.svg);
  }

  #content {
    width: 590px;
  }

  .icon-star {
    width: 35px;
  }
  
  .header-content h1 {
    font-size: 4em;
  }

  .question p {
    width: 450px;
  }

  .attribution {
    font: var(--text-sm);
  }
}

@media screen and (width > 1440px) {
  #content {
    width: 1024px;
    padding: 35px 41px;
  }

  .icon-star {
    width: 50px;
  }
  
  .header-content h1 {
    font-size: 5em;
  }

  .question p {
    width: 900px;
    padding-block: 20px;
    font-size: 1.7em;
  }

  .answer,
  .attribution {
    font-size: 1.7em;
  }

  .icon {
    width: 50px;
  }

  hr {
    margin-top: 20px;
  }
}
